.footer {
  align-items: center;
  background: #f0f0f0;
  color: #666;
  display: flex;
  font-size: 1em;
  font-weight: 400;
  justify-content: center;
  padding: 30px 0;
}

.footer a {
  color: #999;
}
